.nav-ico{
    font-weight: 2  00;
}

.main{
   width: 100%;
   margin-top: 1.2rem;
  
}
.main .heading>h1{
    font-size: 35px;
    font-weight: 700;

}
.left-right-text{
    display: flex;
    margin-top: 1.5rem;
}
.left-right-text .left-text{
    width: 50%;
}
 .right-text{
    justify-content: flex-end;
    justify-self: right;
    text-align: right;
    width: 50%;
    
}
.letf-text{
    display: flex;
    justify-content: flex-start;
    width: 50%;

}
.letf-text .first1{
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    border: 2px solid rgb(75, 202, 228);
    height: 4vh;
    padding: 5px 0px 0px 5px;
    color: rgb(4, 82, 82);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(148, 213, 213);
    
}
.letf-text .first:hover{
    font-size: 15px;
    margin-left: 1rem;
    font-weight: 500;
    width: 130px;
    border: 2px solid rgb(75, 202, 228);
    height: 4vh;
    padding: 5px 0px 0px 5px;
    color: rgb(4, 82, 82);
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(148, 213, 213);
}
.letf-text .first{
    font-size: 15px;
    padding-left: 2rem;
    padding-top: 1vh;
    font-weight: 300;
}
.right-text .icon{
    font-size: 15px;
    color: orange;
    
}
.right-text .special-icon{
    font-weight: 300;
}
.right-text .revi{
    font-weight: 400;
    font-size: 12px;
}
.hr-line{
    width: 100%;
    background-color: #000;
    height: 0.1px;
    opacity: 0.3;
}

.main-block{
    display: flex;
    width:100%;
    margin-top: 1.5rem;
}


.bottle-block{
    width: 50%;
}
.bottle-section{
    width: 500px;
    height: 60vh;
    border: 2px solid rgb(1, 4, 6);
    background-color: rgb(161, 243, 243);
    position: relative;
    border-radius: 20px;
    
}
.bottle-section:hover{
    
    transform: rotate(20deg);
    width: 500px;
    height: 60vh;
    border: none;
    background: none;
    opacity: 0.5;

}
.bottle-main{
    background-image: url('Images/main-bottle.png');
    width: 500px;
    height: 50vh;
    position: absolute;
    left: 0rem;
    top: 2rem;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center; 

}
.cap-bottle:hover{
    transform:  translateY(-60px); 
}

.cap-bottle{
    width: 500px;
    height: 40vh;
    background-image: url('Images/fococlipping-20220112-171258 1 (1).png');
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    left: -0.2rem;
    top: -4.8rem;
    background-size: 16%;

}

.double-icon .left-arrow{
    position: absolute;
    padding-left: 1vh;
    padding-top: 1.3vh;
    top: 28vh;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    font-size: 20px;
    border-radius: 50%;
}
.double-icon .right-arrow{
    position: absolute;
    padding-left: 1.03vh;
    padding-top: 1.1vh;
    top: 28vh;
    left: 445px;
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    font-size: 20px;
    border-radius: 50%;
}

.text-block{
    width: 50%;
}
.bottle-section-all{
    width: 80%;
    margin-top: 2rem;
    display: flex;
}
.image1{
    background-image: url('Images/fococlipping-20220112-171128 1.png');
    width: 20%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    border: 1px solid aqua;
    background-color: rgba(154, 172, 188, 0.527);
    border-radius: 10px;
}

.image2{
    background-image: url('Images/fococlipping-20220112-171128 1.png');
    width: 20%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 1px solid aqua;
    background-color: rgba(154, 172, 188, 0.527);
    border-radius: 10px;
    margin-left: 1rem;
}

.image3{
    background-image: url('Images/fococlipping-20220113-154531 1.png');
    width: 20%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid aqua;
    background-color: rgba(154, 172, 188, 0.527);
    border-radius: 10px;
    margin-left: 1rem;
}

.image4{
    background-image: url('Images/fococlipping-20220112-171128 2.png');
    width: 20%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border: 1px solid aqua;
    background-color: rgba(154, 172, 188, 0.527);
    border-radius: 10px;
    margin-left: 1rem;
}

.image5{
    background-image: url('Images/fococlipping-20220113-154614 1 (1).png');
    width: 20%;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38%;
    border: 1px solid aqua;
    background-color: rgba(154, 172, 188, 0.527);
    border-radius: 10px;
    margin-left: 1rem;

}

.bott-icon-section{
    display: flex;
    width: 25%;
    justify-content: space-around;
    margin-left: 7rem;
    margin-top: 1.5rem;
}
.text-block{
    width: 50%;

}
.doller{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.doller>button{
    padding: 5px;
    border: none;
    background-color: orangered;
    width: 50px;
    height: 4vh;
    border-radius: 3px;
    color: #ffffff;
}
.doller>h3{
  
    font-weight: 500;
    color: rgb(10, 65, 65);
}
.btn-box{
    display: flex;

}
.left-radio{
    width: 50%;
    justify-content: space-around;
}
.right-btn{
    width: 50%;
    justify-content: space-between;

}
.right-btn>button{
    width: 200px;
    margin-top: .8rem;
    border: none;
    background-image: linear-gradient(to top, blue,aqua);
    color: #ffffff;
    font-weight: 400;
    border: 2px solid aqua;
    box-shadow: 1px 1px 5px  rgb(1, 18, 12);
}
.new-input>input{
    width: 100%;
    font-size: 10px;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    color: rgb(2, 61, 42);
    border: none;
    border: 1px solid rgb(4, 26, 19);
    position: relative;
}
.new-input>i{
    position: absolute;
    right: 8rem;
    padding-top: .5rem;
    
}

.btn-button{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.btn-button>input{
    width: 100px;
    padding: 5px;
    border-radius: 5px;

}
.btn-button .btn-11{
    width: 300px;
    background-color: rgb(7, 7, 214);
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
}
.icon-11{
   padding-left:  1rem;
}
.btn-button .btn-22{
   padding: 5px;
   border-radius: 5px;

}
.icon-22{
    color: red;

}
.delivery-content{
    margin-top: 1rem;
}
.delivery-content h4{
     font-weight: 800;
     font-size: 25px;
}
.delivery-content p{
    font-size: 15px;
}
.delivery-main-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.delivery-main-list >ul> li{
   list-style: none;
   font-size: 15px;
   margin-top: 0.5rem;
   text-align: center;
}
.delivery-main-list ul h5{
    font-weight: 700;
}

.brand-return{
    margin-top: 0.8rem;
}
.brand-return h6{
    font-size: 18px;
    font-weight: 600;
}

.brand-logo{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.brand-return .visa{
    
    width: 170px;
    height: 8vh;
    border: 2px solid rgb(185, 177, 177);
    background-image: url('Images/visa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;

}
.brand-return .mastercard{
    
    width: 170px;
    height: 8vh;
    border: 2px solid rgb(185, 177, 177);
    background-image: url('Images/pay-pal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
}
.brand-return .paypal{
    
    width: 170px;
    height: 8vh;
    border: 2px solid rgb(185, 177, 177);
    background-image: url('Images/master-card.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
}

.rec h1{
    font-weight: 700;
    color: rgb(3, 43, 43);
}
.recommendation{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 15vh;
    margin-top: 1.5rem;
    
}
.recommend-1{
    width: 29%;
    height: 30vh;
    border: 2px solid rgb(198, 182, 182);
    background-color: rgba(196, 219, 219, 0.849);
    position: relative;
    border-radius: 10px;
}
.recommend-1:hover{
    background-color: rgba(11, 199, 199, 0.929);
    box-shadow: 3px 3px 10px  rgb(3, 30, 61);
}

.first-image-00{
    background-image: url('Images/fococlipping-20220113-154414 1 (1).png');
    width: 300px;
    height: 25vh;
    background-size: 20%;
    margin-left: 2.5rem;
    margin-top: 1.1rem;
    background-position: center;
    background-repeat: no-repeat;

}
.first-image-00:hover{
    transform: rotate(-30deg);
    opacity: 0.3;
}
.recommend-1 h4{
    font-weight: 700;
    margin-top: 2rem;
}
.recommend-1 p{
    font-weight: 500;
    
}


.first-image-11{
    background-image: url('Images/fococlipping-20220113-154614 1 (1).png');
    width: 300px;
    height: 25vh;
    background-size: 20%;
    margin-left: 2.5rem;
    margin-top: 1.1rem;
    background-position: center;
    background-repeat: no-repeat;

}

.recommend-2{
    width: 29%;
    height: 30vh;
    border: 2px solid rgb(198, 182, 182);
    background-color: rgba(196, 219, 219, 0.849);
    position: relative;
    border-radius: 10px;
}
.recommend-2:hover{
    background-color: rgba(11, 199, 199, 0.929);
    box-shadow: 3px 3px 10px  rgb(3, 30, 61);
}

.first-image-11:hover{
    transform: rotate(-30deg);
    opacity: 0.3;
}
.recommend-2 h4{
    font-weight: 700;
    margin-top: 2rem;
}
.recommend-2 p{
    font-weight: 500;
    
}



.first-image-22{
    background-image: url('Images/LARQ_Pitcher_PW_1 1.png');
    width: 300px;
    height: 25vh;
    background-size: 60%;
    margin-left: 2.5rem;
    margin-top: 1.1rem;
    background-position: center;
    background-repeat: no-repeat;

}

.recommend-3{
    width: 29%;
    height: 30vh;
    border: 2px solid rgb(198, 182, 182);
    background-color: rgba(196, 219, 219, 0.849);
    position: relative;
    border-radius: 10px;
}
.recommend-3:hover{
    background-color: rgba(11, 199, 199, 0.929);
    box-shadow: 3px 3px 10px  rgb(3, 30, 61);
}

.first-image-22:hover{
    transform: rotate(-30deg);
    opacity: 0.3;
}
.recommend-3 h4{
    font-weight: 700;
    margin-top: 2rem;
}
.recommend-3 p{
    font-weight: 500;
    
}



/* footer  */


section{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    border: 2px solid black;
    
    
}
.wave1{
     background-image: url('Images/Rectangle 95.png');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
    bottom: 0vh;
    animation: move 3s linear infinite; 
}
@keyframes move{
    0%{
        background-position: 0%;
    }
    10%{
        background-position: 10%;

    }
    30%{
        background-position: 30%;

    }50%{
        background-position: 50%;

    }80%{
        background-position: 80%;

    }100%{
        background-position: 100%;

    }
}


.link-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-boxes .box{
    background-color: #ffffff;
    width: calc(100% / 5 - 10px);

}
.link-boxes .box li{
    list-style: none;
    margin-top: .8rem;
}
.link-boxes .box li>a{
    text-decoration: none;
    color: #151515bf;
    font-size: 18px;
    font-weight: 500;
}
.link-boxes .box .link_name{
    columns: #000;
    font-size: 25px;
    font-weight: 700;
}

.link-boxes .box li>a:hover{
    color: blue;
    padding-left: 8px;
    cursor: pointer;
}
.link-boxes .box .link_name:hover{
    color: rgb(4, 4, 74);
    padding-left: 5px;
    cursor: pointer;
}
.link-boxes .last-input{
    width: 40%;
    
}
.link-boxes .last-input input{
    width: 90%;
    font-size: 16px;
    margin-top: 1rem;
    border: none;
    border: 2px solid rgb(33, 148, 187);
    border-radius: 20px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
}
.link-boxes .last-input button{
    position: absolute;
    right: 4.2rem;
    top: 5.1rem;
    border: none;
    border: 1px solid aqua;
    padding: 3px 22px;
    border-radius: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom , rgb(18, 18, 239), rgb(45, 246, 246));
    color: #ffffff;


}
.link-boxes .last-input button:hover{
    background: linear-gradient(to bottom , rgb(20, 20, 99), rgb(7, 69, 69));
    color: #ffffff;
    
}
.last-row{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

}
.last-row .first-text{
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
}
.last-row .icon>i{
    font-size: 18px;
    color: #ffffff;
    margin-left: 1rem;
    width: 35px;
    height: 35px;
    background-color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 1.2vh;

}
.last-row .icon>i:hover{
    background-color: aliceblue;
    color: #000;
}

.last-text{
    display: flex;
    justify-content: space-around;
}
.last-text>p{
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}


 
.next-page{
    position: absolute;
    top: 500px;
    left: 100px;
    position: fixed;
  }
  .next-page button{
    border-radius: 20px;
    width: 200px;
    padding: 5px 3px;
    color: black;
  }
  .next-page a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    
  }
  .next-page a:hover{
    color: #fff;
    
  }
  .next-page button:hover{
    background-image: linear-gradient(to top , blue , aqua);
    color: #fff;
  }